header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #181717;
    width: 100%;
    height: 6rem;
    padding: 0 2.3rem;
    position: fixed;
    top: 0;
    z-index: 9;

    img {
        width: 12rem;
    }

    .searchBar {
        display: flex;
        align-items: center;
        height: 3rem;
        border-radius: .5rem;
        position: relative;
        background: #6060607d;

        input {
            font-weight: bold;
            color: #fffffff0;
            width: 35rem;
            background: none;
            border: none;
            outline: none;
        }

        .searchIcon {
            color: #fffffff0;
            padding: 0 .5rem;
            position: relative;
            top: .4rem;
            font-size: 2.1rem;
        }

        .suggestionsList {
            border-radius: .5rem;
            position: absolute;
            top: 3rem;
            left: 0;
            width: 100%;
            max-height: 60rem;
            background: #60606086;
            z-index: 10;

            li {
                list-style: none;
                padding: 1rem 1.4rem;
                background: #2d2d2dd0;
                color: #fffffff0;
                transition: background-color 0.1s ease;

                &:hover {
                    background-color: #757575cc;
                }
            }

            li {
                font-weight: bold;
            }
        }
    }
}

header:hover {
    transition: all 0.3s ease;
}

.humBurger {
    display: none;
}

@media(max-width: 600px) {
    header .searchBar {
        display: none;
    }

    .humBurger {
        display: block;
        background: none;
        color: #fff;
        border: none;
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        transition: background-color 0.3s ease, transform 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .humBurger:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .humBurger svg {
        color: #fff;
        transition: transform 0.3s ease-in;
    }

    input {
        position: absolute;
        top: 0.6rem;
        left: 4rem;
    }

    .responsive {
        position: fixed;
        top: 6rem;
        right: 0;
        width: 65%;
        z-index: 999;
        border-radius: .5rem;
        transition: all 0.5s ease;
    }

    .responsive .searchBar {
        display: block;
        background: #393939ef;
    }
}