.Navigate {
    margin: 3.5rem 0 0 1.5rem;
    width: fit-content;

    .backHome {
        position: relative;
        top: 3.9rem;
        right: 4.5rem;
        color: rgba(235, 164, 32, 0.856);
        font-size: 3rem;
    }
}